
.profile-listing .go-back-btn{
  font-size: 15px;
  text-align: left;
  right: 0;
  position: absolute;
  margin-right: 16px;
  margin-top: -54px;
}
.profile-listing .change-password-heading{
  margin-left: 15px;
}
.profile-listing .submitButton{
  margin-bottom: 15px;
}
.profile-listing .capitalize{
  text-transform: capitalize;
}
.profile-listing .img-responsive.img-circle{
  margin-bottom: 15px;
}

.user-action-button span{

  font-weight: bold;

}

.user-client-display{
margin-top: 8px;
}
.capitalize{
text-transform: capitalize;
}

.color-btn{
  top: -8px;
  color: white;
  background-color: red;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    /* margin-top: 60px; */
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 3px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;

}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
